.Landing{
    overflow: hidden;
    text-align: center;
    position:fixed;
    top: 80px;
}

.Bienvenida{
    position: absolute;
    top: 30px;
}



.btn-ingresar{
    height: 60px;
    width: 200px;
}

h1{
    font-size: 90px;
    color: rgb(8, 8, 8);
    font-family: 'Raleway';

}

@media (max-width:900px){

    .Bienvenida{
        top: -30px;
    }

    h1{
        font-size: 60px;
        color: rgb(8, 8, 8);
        font-family: 'Raleway';
    
    }
}
