.ItemDetailContainer{
	justify-content: center;
    margin: 15px;
    text-align: center;
    font-family: roboto;
}


.ItemDetailContainer img{
    height: 200px;
    border-radius: 10px;
}

.ItemDetailContainer h4{
    font-size: 20px;
    font-family: Raleway;
}
