.ItemDetailContainer{
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    margin: 15px;
    font-size: 15px;
    text-align: center;

}


.ItemDetailContainer img{
    height: 200px;
    border-radius: 10px;
}