.nav{
    display: flex;
justify-content: space-between;
height: 40px;
padding-left: 50px;
padding-right: 50px;
padding-top: 20px;
padding-bottom: 20px;
background-color: #DA7073;
margin: 0;
position: fixed;
top: 0px;
width:-webkit-fill-available;
}

.nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-decoration: none;
    font-weight:bolder;
}

.titulo{
    color:#FFD3DB;

}

.nav img {
    height: 60px;
    padding-top: -10px;
}


.btn-carrito{
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}