body {
  margin: 0;
  font-family:Raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8d6f4;
}

.page{
  margin-top: 90px;
}

code {
  font-family: Raleway,
    monospace;
}

.progress{
  font-size: 20px;
  font-family: Raleway;
  text-align: center;

}
