.cards{
    height: 300px;
    width: 300px;
    text-align: center;
    display:inline;
    background-color: #4caf4f4f;
    border-radius: 5px;
	box-shadow: 0 1px 5px rgb(0, 0, 0, 0.4);
}

.carrito-vacio{
    margin-left: 50px;
}
.carrito-vacio h2{
    margin-left: 0px;

}

.cards-cart{
    height: 200px;
    width: 500px;
    display: inline-flex;
    background-color: #4caf4f4f;
    border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
}

.card-img{
    border-radius: 5px;
    margin-top: 25px;
    height: 150px;
}

.card-text{
    height: 200px;
    width: 300px;
    text-align: center;
}

.boton-Vaciar{
    margin: 30px
}

.cards img{
    height: 150px;
    width: 300px;
    border-radius: 5px;
}

.item-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 8px;
	overflow: hidden;
    margin: 8px;
    overflow: hidden;
}

.item-list-cart{
	display: grid;
	flex-wrap: wrap;
	grid-gap: 10px;
	overflow: hidden;
    margin-left: 25px;
}

.cards p{
    color:#560027bb;
    font-family: Raleway;
    font-size: medium;
    margin-top: -8px;
}

.cards h4{
    font-family: raleway;
    color:#560027;
    font-size: large;
}

h2{
    margin-left: 50px;
    font-family: Raleway;
}


.carrito-null{
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.btn-carrito{
    visibility: visible;
    opacity: 1;
    
}

