.cards{
    height: 300px;
    width: 300px;
    text-align: center;
    display:inline;
    background-color: #37474f;
    border-radius: 10px;
	box-shadow: 0 1px 5px rgb(0, 0, 0, 0.2);
}

.cards-cart{
    height: 200px;
    width: 500px;
    display: inline-flex;
    background-color: #b0bec5;
    border-radius: 10px;
	box-shadow: 0 1px 5px rgb(0, 0, 0, 0.2);
    display: -webkit-box;
}

.card-img{
    border-radius: 10px;
    margin-top: 25px;
}

.card-text{
    height: 200px;
    width: 200px;
    text-align: center;
}

.boton-Vaciar{
    margin: 30px
}

.cards img{
    height: 150px;
    width: 300px;
    border-radius: 10px;
}

.item-list{
    margin: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 5px;
	overflow: hidden;
    margin: 5px;
    overflow: hidden;
}

.item-list-cart{
	display: grid;
	flex-wrap: wrap;
	grid-gap: 10px;
	overflow: hidden;
    margin-left: 25px;
}

.cards p{
    color:aliceblue;
    font-family: Roboto;
}

.cards h4{
    font-family: raleway;
    color:antiquewhite
}

h2{
    margin-left: 30px;
    font-family: Raleway;
}
